---
import Layout from "../../layouts/Layout.astro";
import { getInvitesByName } from "../../../backend/backend.mjs";
const invites = await getInvitesByName();
import CardInvites from "../../components/CardInvites.astro";
---

<Layout
  title="Invités"
  description="Page des invités de Festiv'Halloween"
  footerMargin="pt-20"
>
  <section>
    <header>
      <h1>Les invités du Festival</h1>
    </header>

    <ul class="grid grid-cols-2 gap-1 justify-center items-center mx-auto">
      {
        invites.map((invite) => (
          <li class="flex justyfy-center items-center">
            <CardInvites {...invite} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
