---
import Layout from "../../layouts/Layout.astro";
import { getInvitesByName } from "../../../backend/backend.mjs";
const invites = await getInvitesByName();
import CardInvites from "../../components/CardInvites.astro";
---

<Layout
  title="Invités"
  description="Page des invités de Festiv'Halloween"
  footerMargin="pt-20"
>
  <section class="mx-auto px-4 md:px-8">
    <header class="mb-8 md:mb-12 text-center">
      <h1 class="text-3xl md:text-4xl font-bold font-cinzel tracking-wide">
        Les invités du Festival
      </h1>
      <p class="mt-4 text-gray-600 italic">
        Découvrez les personnalités qui seront présentes lors du festival
      </p>
    </header>

    <ul class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 justify-items-center max-w-5xl mx-auto">
      {
        invites.map((invite) => (
          <li class="w-full max-w-lg">
            <CardInvites {...invite} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

