---
import Layout from "../layouts/Layout.astro";
import MiniCardTarifs from "../components/MiniCardTarifs.astro";
import Spider from "../assets/icones/spider.webp";
import Murderer from "../assets/icones/murderer.webp";
import LogoIut from "../assets/icones/logo-iut.webp";
import logoMmi from "../assets/icones/logo-mmi.webp";
import { getTarifsMiniature } from "../../backend/backend.mjs";
const minitarifs = await getTarifsMiniature();
---

<Layout
  title="Accueil"
  description="Page d'accueil de Festiv'Halloween "
  footerMargin="mt-20"
>
  <div>
    <h1 class="">Festiv'<span>Halloween</span></h1>
    <p class="text-center">29 au 31 octobre</p>
    <h2>Passez un agréable moment de peur</h2>
    <div class="flex justify-center items-center">
      <a href="">Découvrir</a>
    </div>
  </div>

  <div>
    <section>
      <header>
        <h2>Le meilleur du cinéma d'horreurs en un festival de 3 jours !</h2>
      </header>
      <div>
        <div>
          <span></span>
          <img src={Spider.src} alt="Araignée" aria-hidden="true" />
        </div>
        <div>
          <p>
            Plongez dans l'épouvante à travers des films terrifiants,
            sélectionnées pour tous les âges et tous les niveaux de courages !
          </p>
          <a href="/billeterie.html">Je prends ma place</a>
        </div>
      </div>
    </section>

    <section>
      <header>
        <h2>Réservez un créneau pour diffuser votre film !</h2>
      </header>
      <div>
        <div>
          <p>Vous êtes réalisateur ou créateur de films d'horreur ?</p>
          <p>
            Festiv'Halloween vous offre une plateforme unique pour présenter
            votre travail devant un public passionné par l'épouvante !
          </p>
          <a href="/reserver-un-film.html">Réserver</a>
        </div>
        <div>
          <img src={Murderer.src} alt="Tueur" aria-hidden="true" />
        </div>
      </div>
    </section>
  </div>

  <section>
    <header>
      <h2>Les films à la une</h2>
    </header>

    <a class="flex justify-center items-center" href="/programme">
      <img src="" alt="" />
      <p>Le Programme</p>
    </a>
  </section>

  <section class="bg-sweetwhite text-black">
    <header>
      <h2>Les tarifs</h2>
    </header>
    <ul class="flex flex-col justify-center items-center gap-10 mb-20">
      {
        minitarifs.map((minitarif) => (
          <li>
            <MiniCardTarifs {...minitarif} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center items-center">
      <a href="/billeterie" class="bg-purple px-8 py-3">Billeterie</a>
    </div>
  </section>

  <section class="bg-sweetwhite text-black">
    <header>
      <h2>Nos partenaires</h2>
    </header>
    <div class="flex flex-col justify-center gap-8 pt-8">
      <a
        href="https://www.iut-nfc.univ-fcomte.fr/b-u-t-metiers-du-multimedia-et-de-linternet/"
      >
        <img class="w-1/3 mx-auto" src={logoMmi.src} alt="Logo Mmi" />
      </a>
      <a href="https://www.iut-nfc.univ-fcomte.fr/">
        <img
          class="w-1/3 mx-auto"
          src={LogoIut.src}
          alt="Logo IUT Nord-Franche-Comté"
        />
      </a>
    </div>
  </section>
</Layout>
