---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Infos Pratiques" description="Retrouvez ici toutes les informations pratiques pour venir au festival">
    <section>
        <header>
            <h1>Infos Pratiques</h1>
        </header>
    </section>
</Layout>