<footer>
  <ul>
    <li>
      <a href="/contact.html">CONTACT</a>
    </li>
    <li>
      <a href="/panier.html">PANIER</a>
    </li>
    <li>
      <a href="/infos-pratiques.html">INFOS PRATIQUES</a>
    </li>
    <li>
      <a href="/reserver-un-film.html">RÉSERVATIONS</a>
    </li>
  </ul>

  <ul>
    <li>
      <a
        target="_blank"
        href="https://www.linkedin.com/school/mmimontbeliard/posts/?feedView=all"
      >
        <img
          src="/assets/icones/linkedin-icon.svg"
          alt="Icone Linkedin"
          aria-label="Nous suivre sur Linkedin"
        />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/mmi_montbeliard/">
        <img
          src="/assets/icones/instagram-icon.svg"
          alt="Icone Instagram"
          aria-label="Nous suivre sur Instagram"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.facebook.com/mmimontbeliard/?locale=fr_FR"
      >
        <img
          src="/assets/icones/facebook-icon.svg"
          alt="Icone Facebook"
          aria-label="Nous suivre sur Facebok"
        />
      </a>
    </li>
  </ul>
  <p>
    Ce site est un projet réalisé en 2024 dans le cadre d'un exercice
    pédagogique au département MMi de Montbéliard
  </p>
</footer>
